<div class= titre>
<h1>Blocipedia</h1>
<%= image_tag('blocipedia2.jpg') %>
<p>Welcome to Blocipedia</p>

    <p>
        <% if current_user.member? %>
            <%= link_to "Upgrade to Premium", new_charge_path, class: 'btn btn-primary' %>
            <%end%>
    </p>
</div>

</div>